{% extends "base.html" %}
{% block title %}{{SITENAME}} | {{category}} {% endblock %}
{% block content %}

    <section id="content" class="body">
    <ol id="posts-list">
    {% for article in articles_page.object_list %}
        <li><article>
          {% if article.pin %}
            <div class="featured">
          {% else %}
            <header>
              <h1 class="entry-title">
              {% if article.doi %}
                <a href="https://doi.org/{{article.doi}}">{{ article.title }}</a></h1>
              {% else %}
                <a href="{{article.link}}">{{ article.title }}</a></h1>
              {% endif %}
            </header>
            <div class="entry-content">
              {% include 'article_infos.html' %}

            {% endif %}
              {{ article.content }}

              {% include 'article_links.html' %}
            </div>
        
          </article>
    {% endfor %}
    </section></ol>
{% endblock content %}